.follower-box{
    height: 220px;
    /* background-color: aquamarine; */
    width: auto;
    position: relative;
    overflow: hidden;   
    background-color: #fef8f8;
    border-radius: 2px;
    
}

.follower-box-banner{
    position: absolute;
    right: 0px;
    top: 0px;
    left: 0px;
    height: 45%;
    /* z-index: 1; */
    /* background-color: #333; */
}

.follower-box-banner img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    
    
}

.follower-box-user-info-wrapper{
    height: 70%;
    /* margin-top: 30%; */
    position: absolute;
    left: 0px;
    bottom: 0px;
    right: 0px;
    /* background-color: blueviolet; */
    /* z-index: 1000; */
    width: auto;
}

.follower-box-toolbar{
    height: 50%;
    display: block ;
    /* background-color: green; */
    width: auto;
    padding: 0 10px 0 10px;
    /* margin-bottom: 10px; */
}

.follower-box-user-icon-wrapper{
    height: 50%;
    display: block ;
    /* background-color: greenyellow; */
    width: auto;
}

.follower-box-user-icon{
    height: 60px;
    width: 60px;
    /* display: block ; */
    background-color: red;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 35px;
    float: left;
}

.follower-box-user-icon img{
    width: 60px;
    height: auto;   
    border-radius: 35px;
    overflow: hidden;
    border: 2px solid white;

}

.follower-box-user-name{
    float: left;
    margin-left: 15px;
    margin-top: 40px;
}

.follower-box-user-name p{
    padding: 0px;
    margin: 0px;
}

.follower-box-user-name p.user-text-name{
    font-size: 1em;
    font-weight: 800;
}

.follower-box-user-name p.user-name{
    font-size: 0.8em;
    font-weight: 200;
}

.follower-box-toolbar-col1,
.follower-box-toolbar-col2,
.follower-box-toolbar-col3{
    width: 33%;
    float: left;
    height: 60px;
    /* background-color: red; */
    margin-top: 15px;
}

.tweet-toolbar-title{
    font-size: 0.9em;
    display: block;
    color: #323642;
    font-weight: 700;
}

.tweet-toolbar-count{
    font-size: 1.1em;
    display: block;
    color: #2598FF;
    font-weight: 600;
    margin: 8px 5px 0 8px;
}

#tweetList {
    max-height: 500px; /* Sesuaikan tinggi maksimal sesuai kebutuhan */
    overflow-y: auto; /* Membuat area scrollable */
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px; /* Memberikan jarak antara tweetbox dan tweet list */
}

.tweet-box-content {
    margin-bottom: 20px; /* Memberikan jarak antara tweetbox dan tweet list */
}